<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.narayan.event">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Event Tracker"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Event Tracker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="Event Tracker">

        </activity>
        <activity android:name=".CreateEvents" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".CollegeEvents" />
        <activity android:name=".EventDetails"></activity>


        <activity
            android:name=".CoordRegistration"
            android:label="@string/title_activity_coord_registration" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>